# Project exclude paths
/bie_khd/bin/
/Cck/bin/
/cyglxt/bin/
/day16oop/bin/
/day17oop/bin/
/day18oop/bin/
/day19oop/bin/
/exception/bin/
/fuwuqi/bin/
/kehuduan/bin/
/oop/bin/
/out/
/project02/bin/
/project03/bin/
/Project_1/bin/
/test/bin/